html, body {
    margin: 0;
}
body {
    background-color: #B6F2E9 ;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1500px;
    display: flex;
    margin: 0 auto;
    background-color: #B6F2E9;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.image{
    width: 100%;
    display: flex;
}
.menu {
    width: 15%;
    background-color:#B6F2E9;
    padding: 10px 10px 10px 10px;
}
.header {
    background-color: #D1B6A1(5, 108, 108);
    min-height: 150px;
    height: auto;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color:white;
    min-height: 150px;
    padding: 20px;
}
nav ul {
    list-style: none;
}
nav ul li a{
    display: flex;
    padding: 20px 10px;
    color: #2D3736;
    text-decoration: none;
    border-radius: 10px 0;
}
nav ul li a:hover{
    color: white;
    background-color: #5B8C85;
}